<div class="col-xs-12">
  <h1>Todo List</h1>
  <h2>{{message}}</h2>
  <div ng-repeat="item in items | filter: {task: searchTerm.searchTerm}">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-1">
          <input type="checkbox" name="" />
        </div>
        <div class="col-xs-7"><a ng-href="#!/items/deets/{{item.id}}">{{item.task}}</a></div>
        <div ng-if="item.dueDate" class="col-xs-2">{{item.dueDate}}</div>
        <div ng-if="!item.dueDate" class="col-xs-2">No due date</div>
        <div class="col-xs-1">{{item.assignedTo}}</div>
        <div class="col-xs-1">
          <button class="btn btn-danger" ng-click="deleteTodoItem(item.id)">X</button>
        </div>
      </div>
    </div>
  </div>
</div>
